*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    display:flex;
    flex-wrap: wrap;
    background: linear-gradient(to right, #ee9ca7, #ffdde1);
    padding: 4rem;
}
.box{
    height: 400px;
    width: 30%;
    height: 60vh;
    margin: 1rem;
    border-radius: 15px;
    text-align: center;
    background: linear-gradient(to right, #1c92d2, #f2fcfe);
    transition: all 0.7s ease;
}
.box img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin-top: 0.5rem;
    transition: all 1s ease;
}
.box img:hover{
    transform: scale(1.5);
    translate:0 50px;
}
.box:hover{
    transform: scale(1.1);
}